.navbar {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    text-align: right;
    height: 60px;
    line-height: 59px;
    background-color: orange;
    opacity: 100%;
}

.menu {
    margin: 0 100px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: #080808;
    margin: 0 20px;
    font-size: 20px;
    transition: .1s;
}

.menu a.active,
.menu a:hover {
    color: #009e8e;
}

label {
    color: #444444;
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 60px;
    display: none;
    width: 26px;
    float: right;
    user-select: none;
}

#toggle {
    display: none;
}

.logo {
    user-select: none;
}

@media only screen and (max-width: 500px) {
    .logo {
        float: left;
        padding-top: 5px;
        padding-right: 8px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 900px) {
    .logo {
        float: left;
        width: 140px;
        height: auto;
        margin-top: 6px;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        margin: 0;
        border-bottom: 1px solid #009e8e;
        ;
    }
    #toggle:checked+.menu {
        display: block;
        background-color: orange;
    }
}

@media screen and (min-width: 901px) {
    .logo {
        float: left;
        width: 250px;
        height: auto;
        padding-top: 5px;
        padding-left: 100px;
    }
}
